{# Custom form theme for create and edit forms. Overwrites blocks from form_div_layout.html.twig theme. #}

{% use "form_div_layout.html.twig" %}

{# add class attribute #}
{%- block form_start -%}
    {% set attr = attr|merge({'class': 'form'}) %}
    {{ parent() }}
{%- endblock form_start -%}

{# widget before errors #}
{%- block form_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div {% with {attr: row_attr|default({})} %}{{ block('attributes') }}{% endwith %}>
        {{- form_label(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {{- form_errors(form) -}}
        {{- form_help(form) -}}
    </div>
{%- endblock form_row -%}

{# add class attribute #}
{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul class="errors">
            {%- for error in errors -%}
                <li>{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{# widgets and errors without div container #}
{%- block datetime_widget -%}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple') -}}
    {%- else -%}
        {{- form_errors(form.date) -}}
        {{- form_errors(form.time) -}}
        {{- form_widget(form.date) -}}
        {{- form_widget(form.time) -}}
    {%- endif -%}
{%- endblock datetime_widget -%}

{# widgets without div container #}
{%- block date_widget -%}
    {%- if widget == 'single_text' -%}
        {{ block('form_widget_simple') }}
    {%- else -%}
        {{- date_pattern|replace({
            '{{ year }}':  form_widget(form.year),
            '{{ month }}': form_widget(form.month),
            '{{ day }}':   form_widget(form.day),
        })|raw -}}
    {%- endif -%}
{%- endblock date_widget -%}

{# widgets without div container #}
{%- block time_widget -%}
    {%- if widget == 'single_text' -%}
        {{ block('form_widget_simple') }}
    {%- else -%}
        {%- set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} -%}
        {{ form_widget(form.hour, vars) }}{% if with_minutes %}{{ form_widget(form.minute, vars) }}{% endif %}
        {% if with_seconds %}{{ form_widget(form.second, vars) }}{% endif %}
    {%- endif -%}
{%- endblock time_widget -%}

{# label before widget #}
{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
            {{- form_widget(child) -}}
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}