{# Login page with login form. #}

{% extends 'layout.html.twig' %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block main %}
    <h1>Login</h1>
    <form method="post">
        <div class="login_form">
            <label for="inputUsername">Username</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" required autofocus>
        </div>
        <div class="login_form">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" required>
        </div>
        {% if error %}
            <p class="errors">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
        {% endif %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit">Log in</button>
    </form>
{% endblock %}