{# Communication's create page. #}

{% extends 'layout.html.twig' %}

{% form_theme form 'form/form.html.twig' %}

{% block title %}
    <title>New communication</title>
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('javascript/communicationParticipationHandle.js') }}"></script>
{% endblock %}

{% block main %}
    <h1>New communication</h1>
    {{ form_start(form) }}
    {{ form_row(form.type) }}
    {{ form_row(form.subject) }}
    {{ form_row(form.from) }}
    {{ form_row(form.to) }}
    {{ form_row(form.summary) }}
    <div>
        {{ form_label(form.participations) }}
        {# data prototype used for creating new participations #}
        <div id="communication_participations" data-prototype="{{ form_widget(form.participations.vars.prototype)|e('html_attr') }}">
            {% for participation in form.participations %}
                {{ form_widget(participation) }}
            {% endfor %}
        </div>
    </div>
    {{ form_row(form.employees) }}
    <button type="submit">Create</button>
    {% do form.participations.setRendered %}
    {{ form_end(form) }}
{% endblock %}