{# Communication's detail page. #}

{% extends 'layout.html.twig' %}

{% block title %}
    <title>{{ communication.subject }}</title>
{% endblock %}

{% block main %}
    <h1>{{ communication.subject }}</h1>
    <div id="data_column">
        <section>
            <h2>Overview</h2>
            <table>
                <tr>
                    <th>Subject:</th>
                    <td>{{ communication.subject }}</td>
                </tr>
                <tr>
                    <th>Type:</th>
                    <td>{{ communication.type }}</td>
                </tr>
                <tr>
                    <th>From:</th>
                    <td>{{ communication.from.format('Y/m/d H:i') }}</td>
                </tr>
                <tr>
                    <th>To:</th>
                    <td>{% if communication.to %}{{ communication.to.format('Y/m/d H:i') }}{% endif %}</td>
                </tr>
            </table>
        </section>
        <section>
            <h2>Summary</h2>
            <p>{{ communication.summary }}</p>
        </section>
        <section>
            <h2>Participating employees</h2>
            <div class="communication_participations">
                <table>
                    <tr>
                        <th>Surname, Name</th>
                        <th>Photo</th>
                        <th>Role in communication</th>
                    </tr>
                    {% for participation in employeeParticipations %}
                        <tr>
                            <td>
                                <a href="{{ path('employee_detail', {id: participation.person.id}) }}">
                                    {{- participation.person.surname -}}, {{- participation.person.name -}}
                                </a>
                            </td>
                            <td>
                                <img src="{% if participation.person.photo %}{{ asset('images/' ~ participation.person.photo) }}
                                          {% else %}{{ asset('images/placeholder.svg') }}{% endif %}" alt="Employee's photo">
                            </td>
                            <td>{{ participation.role }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
        <section>
            <h2>Participating external persons</h2>
            <div class="communication_participations">
                <table>
                    <tr>
                        <th>Surname, Name</th>
                        <th>Photo</th>
                        <th>Role in communication</th>
                    </tr>
                    {% for participation in externalPersonParticipations %}
                        <tr>
                            <td>
                                <a href="{{ path('externalPerson_detail', {id: participation.person.id}) }}">
                                    {{- participation.person.surname -}}, {{- participation.person.name -}}
                                </a>
                            </td>
                            <td>
                                <img src="{% if participation.person.photo %}{{ asset('images/' ~ participation.person.photo) }}
                                          {% else %}{{ asset('images/placeholder.svg') }}{% endif %}" alt="External person's photo">
                            </td>
                            <td>{{ participation.role }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
        <div id="edit_link">
            <a href="{{ path('communication_edit', {id: communication.id}) }}">Edit communication</a>
        </div>
        <div>
            <a href="{{ path('communication_delete', {id: communication.id}) }}">Delete communication</a>
        </div>
        <div>
            <a href="{{ path('communication_employees', {id: communication.id}) }}">Employees authorized to communication</a>
        </div>
    </div>
{% endblock %}