{# List of communications page. #}

{% extends 'layout.html.twig' %}

{% block title %}
    <title>Communications</title>
{% endblock %}

{% block main %}
    <h1>Communications</h1>
    <div class="table_wrapper">
        <table>
            <tr>
                <th>Subject</th>
                <th>From</th>
                <th>To</th>
                <th>Type</th>
            </tr>
            {% for communication in communications %}
                <tr>
                    <td><a href="{{ path('communication_detail', {id: communication.id}) }}">{{ communication.subject }}</a></td>
                    <td>{{ communication.from.format('Y/m/d H:i') }}</td>
                    <td>{% if communication.to %}{{ communication.to.format('Y/m/d H:i') }}{% endif %}</td>
                    <td>{{ communication.type }}</td>
                </tr>
            {% endfor %}
        </table>
        <div>
            <a href="{{ path('communication_create') }}">Add communication</a>
        </div>
    </div>
{% endblock %}