/* CSS used by all templates. Divided by template regions. */

/* region General*/
* {
    box-sizing: border-box;
    font-size: 1em;
}
body {
    font-family: "Arial", sans-serif;
    background-color: #efeff2;
    margin: 0;
    font-size: 0.7rem;
}
h1 {
    font-size: 2em;
    margin: 0;
    padding: 0 0 2%;
}
h2 {
    font-size: 1.5em;
}
a {
    color: black;
}
a:hover {
    color: blue;
}
a[href^="mailto:"] {
    text-decoration: none;
}
/* endregion */

/* region Header */
header {
    background-color: #5e86dd;
    width: 100%;
    color: white;
    padding: 2% 5%;
}
header > h3 {
    margin: 0;
    font-size: 2em;
}
/* endregion */

/* region Menu */
nav {
    display: flex;
    padding: 1% 5% 0;
    flex-direction: column;
}
nav > a {
    margin-right: 3%;
}
/* endregion */

/* region Main */
main {
    width: 100%;
    padding: 2% 5% 3%;
}

/* region Detail */
#data_column {
    padding: 1% 2% 10%;
    border: thin solid #c7c7c7;
    background-color: white;
    box-shadow: 0.2vw 0.2vw 0.1vw #c7c7c7;
    width: 100%;
}
#data_column th {
    text-align: left;
    padding-right: 0.7rem;
}
#data_column p {
    margin: 0;
}
#data_column > div {
    padding-top: 2%;
}
#data_column > #edit_link {
    padding-top: 7%;
}

/* region Person Detail */
#content {
    display: flex;
    justify-content: space-between;
}
#photo_column {
    display: none;
    width: 15%;
}
#photo_column > img {
    width: 100%;
    padding: 3%;
    border: thin solid #c7c7c7;
    background-color: white;
    box-shadow: 0.2vw 0.2vw 0.1vw #c7c7c7;
}
/* endregion */
/* endregion */

/* region List */
.table_wrapper {
    width: 100%;
    padding: 3% 2% 5%;
    background-color: white;
    border: thin solid #c7c7c7;
    box-shadow: 0.2vw 0.2vw 0.1vw #c7c7c7;
}
div > table {
    width: 100%;
    border-collapse: collapse;
}
div > table th {
    width: 50%;
    text-align: left;
    display: none;
}
div > table td {
    width: 50%;
    border-top: thin solid #c7c7c7;
    display: none;
}
div > table th:first-child, div > table th:last-child, div > table td:first-child, div > table td:last-child {
    display: table-cell;
}
table img {
    width: 3rem;
    vertical-align: middle;
    padding: 1%;
}
.table_wrapper > div {
    text-align: center;
    margin-top: 2%;
}
/* endregion */

/* region Form */
.errors {
    color: red;
    margin: 0 0 1.5%;
    font-size: 0.8em;
}

/* region Create & Edit Form */
.form {
    padding: 2% 2% 5%;
    border: thin solid #c7c7c7;
    background-color: white;
    box-shadow: 0.2vw 0.2vw 0.1vw #c7c7c7;
    width: 100%;
}
.form label {
    display: inline-block;
    width: 43%;
}
label[for*="description"], label[for*="summary"] {
    vertical-align: top;
}
.form input {
    width: 57%;
    margin-bottom: 1.5%;
}
.form select {
    margin-bottom: 1.5%;
}
.form textarea {
    width: 57%;
    resize: vertical;
    min-height: 4.3rem;
    height: 4.3rem;
    margin-bottom: 1.2%;
}
div[id$="participations"] > div {
    padding-top: 1%;
    margin-top: 1%;
    border-top: thin solid #c7c7c7;
}
div[id$="participations"] > div:last-of-type {
    padding-bottom: 1%;
    border-bottom: thin solid #c7c7c7;
}
div[id$="participations"] > button {
    margin-top: 1%;
}
.form > button {
    margin-top: 5%;
}

/* region Communication Create & Edit Form */
#communication_participations {
    padding-bottom: 2%;
}
#communication_employees > label {
    font-size: 0.8em;
}
#communication_employees > input {
    width: auto;
    margin: 1.5% 50% 0 0;
}
/* endregion */
/* endregion */

/* region Login Form */
.login_form {
    margin: 1.5% 0;
}
.login_form > label {
    display: inline-block;
    width: 40%;
}
.login_form > input {
    width: 50%;
}
/* endregion */
/* endregion */
/* endregion */

@media only screen and (min-width: 600px) and (min-device-width: 600px) {

/* region General */
body {
    font-size: 1rem;
}
/* endregion */

/* region Menu */
nav {
    flex-direction: row;
}
#logout {
    margin: 0 0 0 auto;
}
/* endregion */

/* region Person Detail */
#photo_column {
    display: block;
}
#content > #data_column {
    width: 82%;
}
/* endregion */

/* region List */
div > table th, div > table td {
    width: 25%;
    display: table-cell;
}
#person_participations th, #person_participations td {
    width: 20%;
}
.communication_participations th, .communication_participations td {
    width: 33%;
}
/* endregion */

/* region Create & Edit Form */
.form label {
    width: 25%;
}
.form input {
    width: 75%;
}
.form textarea {
    width: 75%;
}
/* endregion */

/* region Login Form */
.login_form > label {
    width: 20%;
}
.login_form > input {
    width: 25%;
}
/* endregion */

}