{# Employee's detail page. #}

{% extends 'layout.html.twig' %}

{% block title %}
    <title>{{ employee.name }} {{ employee.surname }}</title>
{% endblock %}

{% block main %}
    <h1>{{ employee.name }} {{ employee.surname }}</h1>
    <div id="content">
        <div id="photo_column">
            <img src="{% if employee.photo %}{{ asset('images/' ~ employee.photo) }}{% else %}{{ asset('images/placeholder.svg') }}{% endif %}"
                 alt="Employee's photo">
        </div>
        <div id="data_column">
            <section>
                <h2>Overview</h2>
                <table>
                    <tr>
                        <th>Name:</th>
                        <td>{{ employee.name }}</td>
                    </tr>
                    <tr>
                        <th>Surname:</th>
                        <td>{{ employee.surname }}</td>
                    </tr>
                    <tr>
                        <th>Username:</th>
                        <td>{{ employee.username }}</td>
                    </tr>
                    <tr>
                        <th>Phone:</th>
                        <td>{{ employee.phone }}</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td><a href="mailto:{{ employee.email }}">{{ employee.email }}</a></td>
                    </tr>
                </table>
            </section>
            <section>
                <h2>Address</h2>
                <table>
                    <tr>
                        <th>Street:</th>
                        <td>{{ employee.street }}</td>
                    </tr>
                    <tr>
                        <th>House number:</th>
                        <td>{{ employee.house }}</td>
                    </tr>
                    <tr>
                        <th>City:</th>
                        <td>{{ employee.city }}</td>
                    </tr>
                    <tr>
                        <th>ZIP Code:</th>
                        <td>{{ employee.zip }}</td>
                    </tr>
                    <tr>
                        <th>Country:</th>
                        <td>{{ employee.country }}</td>
                    </tr>
                </table>
            </section>
            <section>
                <h2>Employment details</h2>
                <table>
                    <tr>
                        <th>Hiring date:</th>
                        <td>{% if employee.hired %}{{ employee.hired.format('Y/m/d') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Termination date:</th>
                        <td>{% if employee.fired %}{{ employee.fired.format('Y/m/d') }}{% endif %}</td>
                    </tr>
                    {% if is_granted('ROLE_EMPLOYEE_MANAGER') or employee.username is same as (app.user.username) %}
                        <tr>
                            <th>Wage:</th>
                            <td>{{ employee.wage }}</td>
                        </tr>
                        <tr>
                            <th>Bank account:</th>
                            <td>{{ employee.account }}</td>
                        </tr>
                    {% endif %}
                </table>
            </section>
            <section>
                <h2>Description</h2>
                <p>{{ employee.description }}</p>
            </section>
            <div id="edit_link">
                <a href="{{ path('employee_edit', {id: employee.id}) }}">Edit employee</a>
            </div>
            {% if is_granted('ROLE_EMPLOYEE_MANAGER') and not app.user is same as (employee) %}
                <div>
                    <a href="{{ path('employee_delete', {id: employee.id}) }}">Delete employee</a>
                </div>
            {% endif %}
            <div>
                <a href="{{ path('person_communications', {id: employee.id}) }}">Employee's communications</a>
            </div>
        </div>
    </div>
{% endblock %}