{# Employee's edit page. #}

{% extends 'layout.html.twig' %}

{% form_theme form 'form/form.html.twig' %}

{% block title %}
    <title>{{ employee.name }} {{ employee.surname }} - Edit</title>
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('javascript/personParticipationHandle.js') }}"></script>
{% endblock %}

{% block main %}
    <h1>{{ employee.name }} {{ employee.surname }} - Edit</h1>
    {{ form_start(form) }}
    {% if is_granted('ROLE_EMPLOYEE_MANAGER') %}
        {{ form_row(form.person.name) }}
        {{ form_row(form.person.surname) }}
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
        {{ form_row(form.person.street) }}
        {{ form_row(form.person.house) }}
        {{ form_row(form.person.city) }}
        {{ form_row(form.person.zip) }}
        {{ form_row(form.person.country) }}
        {{ form_row(form.person.phone) }}
        {{ form_row(form.person.email) }}
        {{ form_row(form.person.photo) }}
        {{ form_row(form.person.description) }}
        {{ form_row(form.wage) }}
        {{ form_row(form.account) }}
        {{ form_row(form.hired) }}
        {{ form_row(form.fired) }}
    {% endif %}
    <div>
        {{ form_label(form.person.participations) }}
        {# data prototype used for creating new participations #}
        <div id="person_participations" data-prototype="{{ form_widget(form.person.participations.vars.prototype)|e('html_attr') }}">
            {% for participation in form.person.participations %}
                {{ form_widget(participation) }}
            {% endfor %}
        </div>
    </div>
    <button type="submit">Edit</button>
    {% do form.person.setRendered %}
    {{ form_end(form) }}
{% endblock %}