{# List of employees page. #}

{% extends 'layout.html.twig' %}

{% block title %}
    <title>Employees</title>
{% endblock %}

{% block main %}
    <h1>Employees</h1>
    <div class="table_wrapper">
        <table>
            <tr>
                <th>Surname, Name</th>
                <th>Photo</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
            {% for employee in employees %}
                <tr>
                    <td><a href="{{ path('employee_detail', {id: employee.id}) }}">{{ employee.surname }}, {{ employee.name }}</a></td>
                    <td>
                        <img src="{% if employee.photo %}{{ asset('images/' ~ employee.photo) }}
                                  {% else %}{{ asset('images/placeholder.svg') }}{% endif %}" alt="Employee's photo">
                    </td>
                    <td>{{ employee.phone }}</td>
                    <td><a href="mailto:{{ employee.email }}">{{ employee.email }}</a></td>
                </tr>
            {% endfor %}
        </table>
        {% if is_granted('ROLE_EMPLOYEE_MANAGER') %}
            <div>
                <a href="{{ path('employee_create') }}">Add employee</a>
            </div>
        {% endif %}
    </div>
{% endblock %}