{# List of person's communications page. #}

{% extends 'layout.html.twig' %}

{% block title %}
    <title>{{ person.name }} {{ person.surname }} – Communications</title>
{% endblock %}

{% block main %}
    <h1>{{ person.name }} {{ person.surname }} – Communications</h1>
    <div id="person_participations" class="table_wrapper">
        <table>
            <tr>
                <th>Subject</th>
                <th>From</th>
                <th>To</th>
                <th>Type</th>
                <th>Role in communication</th>
            </tr>
            {% for participation in participations %}
                <tr>
                    <td><a href="{{ path('communication_detail', {id: participation.communication.id}) }}">{{ participation.communication.subject }}</a></td>
                    <td>{{ participation.communication.from.format('Y/m/d H:i') }}</td>
                    <td>{% if participation.communication.to %}{{ participation.communication.to.format('Y/m/d H:i') }}{% endif %}</td>
                    <td>{{ participation.communication.type }}</td>
                    <td>{{ participation.role }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}