{# Layout common for all templates. #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Martin Janáček">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ asset('general.css') }}">
    {% block scripts %}
    {% endblock %}
</head>
<body>
    <header>
        <h3>Application Name</h3>
    </header>
    {% if app.user %}
        <nav>
            <a href="{{ path('person_communications', {id: app.user.id}) }}">My communications</a>
            <a href="{{ path('communication_list') }}">Communications</a>
            <a href="{{ path('employee_list') }}">Employees</a>
            <a href="{{ path('externalPerson_list') }}">External persons</a>
            <a href="{{ path('app_logout') }}" id="logout">Log out</a>
        </nav>
    {% endif %}
    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>
