{# External person's detail page. #}

{% extends 'layout.html.twig' %}

{% block title %}
    <title>{{ person.name }} {{ person.surname }}</title>
{% endblock %}

{% block main %}
    <h1>{{ person.name }} {{ person.surname }}</h1>
    <div id="content">
        <div id="photo_column">
            <img src="{% if person.photo %}{{ asset('images/' ~ person.photo) }}{% else %}{{ asset('images/placeholder.svg') }}{% endif %}"
                 alt="External person's photo">
        </div>
        <div id="data_column">
            <section>
                <h2>Overview</h2>
                <table>
                    <tr>
                        <th>Name:</th>
                        <td>{{ person.name }}</td>
                    </tr>
                    <tr>
                        <th>Surname:</th>
                        <td>{{ person.surname }}</td>
                    </tr>
                    <tr>
                        <th>Phone:</th>
                        <td>{{ person.phone }}</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td><a href="mailto:{{ person.email }}">{{ person.email }}</a></td>
                    </tr>
                </table>
            </section>
            <section>
                <h2>Address</h2>
                <table>
                    <tr>
                        <th>Street:</th>
                        <td>{{ person.street }}</td>
                    </tr>
                    <tr>
                        <th>House number:</th>
                        <td>{{ person.house }}</td>
                    </tr>
                    <tr>
                        <th>City:</th>
                        <td>{{ person.city }}</td>
                    </tr>
                    <tr>
                        <th>ZIP Code:</th>
                        <td>{{ person.zip }}</td>
                    </tr>
                    <tr>
                        <th>Country:</th>
                        <td>{{ person.country }}</td>
                    </tr>
                </table>
            </section>
            <section>
                <h2>Description</h2>
                <p>{{ person.description }}</p>
            </section>
            <div id="edit_link">
                <a href="{{ path('externalPerson_edit', {id: person.id}) }}">Edit external person</a>
            </div>
            <div>
                <a href="{{ path('externalPerson_delete', {id: person.id}) }}">Delete external person</a>
            </div>
            <div>
                <a href="{{ path('person_communications', {id: person.id}) }}">External person's communications</a>
            </div>
        </div>
    </div>
{% endblock %}