{# List of external persons page. #}

{% extends 'layout.html.twig' %}

{% block title %}
    <title>External persons</title>
{% endblock %}

{% block main %}
    <h1>External persons</h1>
    <div class="table_wrapper">
        <table>
            <tr>
                <th>Surname, Name</th>
                <th>Photo</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
            {% for person in persons %}
                <tr>
                    <td><a href="{{ path('externalPerson_detail', {id: person.id}) }}">{{ person.surname }}, {{ person.name }}</a></td>
                    <td>
                        <img src="{% if person.photo %}{{ asset('images/' ~ person.photo) }}
                                  {% else %}{{ asset('images/placeholder.svg') }}{% endif %}" alt="External person's photo">
                    </td>
                    <td>{{ person.phone }}</td>
                    <td><a href="mailto:{{ person.email }}">{{ person.email }}</a></td>
                </tr>
            {% endfor %}
        </table>
        <div>
            <a href="{{ path('externalPerson_create') }}">Add external person</a>
        </div>
    </div>
{% endblock %}